.rooms-preview {
    .initial-preview-title .initial-preview-bottom-text {
        color: #333A3F;
        font-size: 14px;
        line-height: 17px;
        margin-left: 20px;
        font-family: 'Lato';
    }

    .initial-preview-image {
        margin: 60px 0;
    }

    .initial-preview-bottom-text {
        color: rgba(51,58,63,0.7);
    }
}